engine-strict=true

# We want pnpm to help us enforce strict peer dependencies and not automatically install them
strict-peer-dependencies=true
auto-install-peers=false
dedupe-peer-dependents=true
resolve-peers-from-workspace-root=true

# Disable pnpm update notifications since we use corepack to install package managers
update-notifier=false
# Use pnpm v8 lockfile format
use-lockfile-v6=true
