.correct {
	--sudoku-input-bg: #9bf49b;
	--sudoku-input-fg: #073d07;
	--sudoku-input-border-color: #0b6a0b;
}

.wrong {
	--sudoku-input-bg: #e7999d;
	--sudoku-input-fg: #a4262c;
	--sudoku-input-border-color: #a4262c;
}

.startingClue {
	--sudoku-input-bg: var(--neutralLighter);
	--sudoku-input-fg: var(--neutralPrimary);
	--sudoku-input-border-color: var(--neutralPrimary);
}
